@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

body {
  color: #AAA;
  background-color: #333;
  font-family: 'Fira Code', monospace;
  user-select: none;
}

#container {
  width: 500px;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 6px;
  outline: 1px solid white;
  text-align: center;
}

#variants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: goldenrod;
  
  input-scale {
    width: 100%;
    margin-bottom: 1rem;
  }

  input-scale[vertical] {
    flex-basis: 50%;
    height: 500px;
  }
}
